*{
	box-sizing:border-box;
}
a, img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
html, body {
	height: 100%;
	margin: 0;
	font-family: "Tahoma";
}
body {
	/*background-color: rgb(228,223,204);*/
}
p {
	text-align: justify;
}


h1,h2,h3,h4,h5,h6 {
	font-family: "Tahoma";

}

h3,h4,h5 {
color: rgb(88,24,13);
}
h1, h2, h3 {
	border-bottom: 1px solid #aaaaaa;
	max-width: 50em;
}


a {
    text-decoration: none;
    color: black;
    border-bottom: 1px grey dotted;
}


table {
	border-collapse: collapse;
	margin: 2rem;
	margin-top: 0;
	text-align: left;
	}
th, td {
	padding: .2em 1em;
	border: 1px solid black;
	text-align: left;
	}
table ul {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}
div.boxed {
	border: 1px solid black;
	max-width: 30em;
	padding: 0 1em;
}

div.horizontal {
	display: flex;
}
div.map svg {
	background-size: 100% 100%;
}

div.grid_container{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-column-gap: 4em;
	}

.left {
	grid-column: 1;
	position:fixed;
	width: 50%;
	height: 100%;
	overflow: scroll;
	padding-left: 1em;
}
.center {
	padding: 0 10px;
	max-width: 100%;
	grid-column: 2;
	position:fixed;
	overflow: scroll;
	left: 50%;
	padding-left: 2em;
	padding-bottom: 20em;
	height: 100%;
}
.center p, .center ol, .center ul {
	max-width: 30em;
}
.room h3 {
	margin-bottom: 0;
}
.room p {
	margin-top: 0;
}
